main {
    background-color: rgba(0, 127, 255, 0.1);
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 35px;
}

div#formulario {
    overflow: hidden;
    width: 600px;
    border: 1px solid #00021C;
    margin: 0 auto;
    box-shadow: 2px 2px 6px 2px #00010F;
    background-color: #FFF;
}

div#formulario h2 {
    text-align: center;
    color: #00021C;
}

div#formulario form:nth-child(1) {
    margin-top: 15px;
}

div#formulario form input {
    border-radius: 0;
    border-color: #00021C;
}

div#formulario form button {
    margin-bottom: 5px;
    border-radius: 0;
    border-color: #00021C;
    background-color: #00021C;
}

div#formulario form button:hover {
    background-color: #00010F;
}