main {
    background-color: #F2F2F2;
    height:710px;
    padding-top: 50px
}

div#formulario {
    margin:0px auto;
    border: 1px solid #333;
    width: 750px;
    background-color: white;
    height:610px;
    box-shadow:2px 2px 6px 2px #333;
}

div#formulario p, h2 {
    text-align: center;
}

div#formulario form input{
    border-radius:0;
    border-color:#333;
}

div#formulario form select{
    border-radius:0;
    border-color:#333;
}

div#formulario form textarea {
    resize: none;
    height: 80px;
    border-radius:0;
    border-color:#333;
}

div#formulario form #modificar {
    margin-bottom:5px;
    border-radius:0;
    border-color:#333;
    background-color:#333;
}

div#formulario form #modificar:hover {
    background-color:rgba(0,0,0,0.9);
}
div#formulario form button {
    margin-bottom:5px;
    border-radius:0;
    border-color:#333;
    background-color:#333;
}
div#formulario form button:hover {
    background-color:rgba(0,0,0,0.9);
}

/***********JANELA*************/

button.botaoNao {
    color:#FFF;
    background-color:#333;
    border-radius: 0;
}

button.botaoNao:hover {
    background-color: rgba(0,0,0,0.9);
    color:#FFF;
}


button.botaoSim {
    border:1px solid #333;
    border-radius: 0;
}

button.botaoSim:hover {
    background-color: rgba(0,0,0,0.1);
}

h5 {
    /*margin-left: 150px;*/
}
/**********JANELA*****************/







