main {
    background-color: #F2F2F2;
    height:500px;
    padding-top: 100px;
}

div#detalheCliente {
    border:1px solid #333;
    width: 700px;
    margin: 0 auto;
    box-shadow:2px 2px 6px 2px #333;
    background-color: #FFF;
}

div#detalheCliente p, h2 {
    text-align: center;
}

div#compras ul#titulo {
    border: 1px solid #333;
    border-bottom: none;
    padding: 0;
    width: 650px;
    margin-bottom: 0;
    margin:0 auto;
}

div#compras ul#titulo li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;*/
}

div#compras ul#titulo li:nth-child(1){
    width: 70px; 
    margin-left: 5px;
}

div#compras ul#titulo li:nth-child(2){
    width: 250px;  
}

div#compras ul#titulo li:nth-child(3){
    width: 140px;
    margin-left: -7px
}

div#compras ul#titulo li:nth-child(4){
    width: 145px;
    margin-right: 0;
    margin-left: -5px
}

div#listaProduto {
    height: 327px;
    width:650px;
    margin:0 auto;
    border:1px solid #333;
    font-family:sans-serif;
    font-size:13px;
    color:#333;
    overflow-y:scroll
}

div#listaProduto ul {
    margin:0;
    padding:0; 
    border-bottom:1px solid #333;
}

div#listaProduto li {
    list-style:none;
    display:inline-block;
}

div#listaProduto li img#fotoProduto {
    height: 70px;
    width: 70px;
}

div#listaProduto li:nth-child(1) {
    margin: 5px;
}

div#listaProduto li:nth-child(2) {
    width: 250px;  
    font-weight: bold;
    margin-left: 0px;
}    

div#listaProduto li:nth-child(3) {
  width: 140px;
}

div#listaProduto li:nth-child(4) {
    width: 145px;
}

div#compras ul#valorTotal {
    list-style: none;
    font-weight: bold;
}

div#compras ul#valorTotal li {
    border:1px solid black;
    width: 650px;
    border-top: none;
    margin-left: -16px;
    padding-left: 5px;
}







