main {
    padding-top: 100px;
    background-color: #F2F2F2;
}

main div#janelaLogin {
    height:290px;
    width:350px;
    margin:0 auto;
    border:1px solid #333;
    padding:10px;
    box-shadow:2px 2px 6px 2px #333;
    background-color: #FFF;
}

main div#janelaLogin h2 {
    text-align:center;
    margin-bottom:15px;
    color:#333;
}

main div#janelaLogin input {
    margin-bottom:15px;
    border-radius:0;
    border-color:#333;
}

main div#janelaLogin button {
    margin-bottom:5px;
    border-radius:0;
    border-color:#333;
    background-color:#333;
}
main div#janelaLogin button:hover {
    background-color:rgba(0,0,0,0.9);
}

main div#janelaLogin p {
    text-align:center;
}

main div#janelaLogin p#mensagem {
    color:red;
}

main div#janelaLogin a {
    font-style:none;
    color:#333;
}
