main div#janela_pesquisa {
    width:900px;
    height: 70px;
    margin:0 auto;
    border-bottom:1px solid #333;
}

main div#janela_pesquisa form {
    width:860px;
    margin:0 auto;
    padding-top: 15px;
}

main div#janela_pesquisa form input[type="text"] {
    width:500px;
    margin-left: 150px;
    border: 1px solid #333;
}

main div#janela_pesquisa form button {
    padding: 5px 10px;
    border: 1px solid #333;
    color: white;
    background-color: #333;
}

main div#janela_pesquisa form button:hover {
    background-color: rgba(0,0,0,0.9);
}