main {
    background-color: rgba(0,127,255,0.1);
    overflow-y:hidden;
    padding-bottom: 50px;
}

main div#listagemProdutos {
    width:860px;
    margin:0 auto;
}

main div#listagemProdutos ul {
    float:left;
    margin:5px 10px 5px;
    padding:0;
    width:400px;
    height: 300px;
    box-shadow:2px 2px 6px 2px #333;
    background-color: #FFF;
    color: #000;
}

main div#listagemProdutos li {
    font-family: sans-serif;
    font-size: 12px;
    list-style: none;
    text-align: center;
}

main div#listagemProdutos li.imagem {
    float:left;
    margin-right: 10px;
}

main div#listagemProdutos li img {
    height: 200px;
    width: 400px;
}
main div#listagemProdutos li h3 {
    margin:0;   
    background-color: rgb(205,205,205,0.2);
}

main div#listagemProdutos li:nth-child(3){
    padding: 1px;
    background-color: rgb(205,205,205,0.2);
}

main div#listagemProdutos li:nth-child(4) a{
    color: #FFF;
    background-color: #00021C;
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    /*font-weight: bold;*/
    font-size: 150%;
}

main div#listagemProdutos li:nth-child(4) a:hover{
    background-color: #00010F;
   
}