main {
    background-color: #F2F2F2;
    padding-top: 50px;
}

div#detalhe_produto {
    overflow: hidden;
    width:1000px;
    margin:0px auto;
    box-shadow:2px 2px 6px 2px #333;
    background-color: #FFF;
}

div#detalhe_produto #foto{
    float: left;
    padding: 15px;
}

div#detalhe_produto #fotoPrincipal{
    height: 400px;

}

div#detalhe_produto ul {
    margin:0;
    padding:0;  
    padding-top: 15px;
}

div#detalhe_produto ul h1{
    text-align: center;
}

div#detalhe_produto li {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 13px;
    padding:5px;
}  

div#detalhe_produto li:nth-child(3) {
    font-size: 150%;
} 

div#detalhe_produto li:nth-child(4) {
    text-align: justify;
}

div#detalhe_produto button {
    border-radius:0;
    border: none;
    padding: 15px 230px;
    font-size: 150%;
    margin-top: 100px;
    background-color:#333;
    color:#FFF;
}

div#detalhe_produto button:hover, button#botaoNao:hover {
    background-color: rgba(0,0,0,0.9);
}

button#botaoNao {
    color:#FFF;
    background-color:#333;
    border-radius: 0;
}

button#botaoSim {
    border:1px solid #333;
    border-radius: 0;
}

button#botaoSim:hover {
    background-color: rgba(0,0,0,0.1);
}

h5 {
    margin-left: 85px;
}
































